 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

body {
    /* Setting the background image */
    background: url('login-background-img.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 
.header-banner {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2); /* Translucent white foreground box */
    backdrop-filter: blur(10px); /* Optional: adds a glass effect inthe box*/
    padding: 20px;
    text-align: center;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Centering the Login Div */
.login-container {
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(255, 255, 255, 0.15); /* Translucent background  same as above box*/
    backdrop-filter: blur(15px);
    padding: 40px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    width: 350px;
    color: white;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.8);
    outline: none;
}

/* Button Styling */
.auth-button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.auth-button:hover {     /* hoverrr efffect in sinupbutton */
    background-color: rgba(255, 255, 255, 0.8);
    transform: translateY(-2px);
}